textarea {
    width: 100%;
    resize: none;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    font-size: 0.9rem;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 50px rgba(177, 177, 177, 0.1);
    background-color: white !important;
}
textarea:hover {
    cursor: pointer;
}
textarea:focus {
    cursor: text;
    outline: none;
}


.titleTextArea {
    margin-top: 5px;
    height: 55px;
}
.descriptionTextArea {
    margin-top: 1px;
    height: 198px;
}
.tipsBlock {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.tip {
    padding: 3px 10px 5px 10px;
    font-size: 0.85rem;
}
.tip p {
    margin-bottom: 0;
}
@media (max-width: 500px) {
    .modalButtons {
        word-wrap: normal;
        padding: 0.7rem 1rem;
        font-size: 0.8rem;
        text-align: center;
    }
}
