.btnAddFilm {
    font-size: 0.8rem !important;
}
.btnAddFilm:hover {
    cursor: pointer !important;
}
.controls {
    width: 100%;
    padding: 15px 15px 15px 15px;
    width: auto;
    height: auto;
    display: block;
}
.filmsBlock {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    flex-basis: 300px;
}
.item {
    width: auto;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    max-height: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin: 0 auto 25px;
    position: relative;
    background-color: white;
}
.item:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.item:focus {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.itemContainer {
    min-width: 270px;
}
.itemGrid {
    max-height: inherit;
    display: grid;
    max-height: 100%;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    overflow: hidden;
    grid-template-areas:
    't'
    'd';
}
.title { 
    grid-area: t;
    width: 100%;
    height: auto;
    padding: 10px 15px 10px 15px;
    font-size: 1.2rem;
    font-weight: 500;
}
.title p {
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 0;
}
.description {
    grid-area: d;
    width: 100%;
    height: auto;
    padding: 0 15px 10px 15px;
    overflow: hidden;
    border-bottom: 10px solid transparent;
    text-overflow: ellipsis;
}
.btnDeleteFilm {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
.btnDeleteFilmIcon {
    color: rgba(244, 67, 54, 0.5);
}
.btnDeleteFilm:hover .btnDeleteFilmIcon {
    color: rgba(244, 67, 54, 1);
}
.item:hover .btnDeleteFilm {
    display: block;
}
