.stepper {
    display: grid;
    min-height: 100%;
    max-height: 100%;
    grid-template-rows: 1fr 50px;
    grid-template-areas:
    'container'
    'switcher';
}
.stepperContainer { 
    grid-area: container;
}

.stepperSwitcher { 
    grid-area: switcher;
}
.itemContainer {
    min-width: 270px;
}
@media (max-width: 500px) {
    .itemContainer {
        display: none;
    }
    label:first-child {
        margin-top: 15px;
    }
}
.item {
    width: auto;
    width: 250px;
    min-height: 69px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin: 0 auto 25px;
    position: relative;
    background-color: white;
}
.titleTextArea {
    margin-top: 5px;
    height: 55px;
}
.title { 
    width: 100%;
    min-height: 69px;
    padding: 10px 15px 10px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.title p {
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 0;
}
.titleName {
    width: 100%;
    min-height: 28px;
}
.titleAge {
    font-weight: normal;
    font-size: 0.9rem;
    opacity: 0.8;
}
input {
    margin-bottom: 10px;
}
input:last-child {
    margin-bottom: 0;
}
input:hover {
    cursor: pointer;
}
input:focus {
    cursor: text;
}
.descriptionTextArea {
    margin-top: 1px;
    height: 198px;
}
.tipsBlock {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.tip {
    /* width: 300px; */
    padding: 3px 10px 5px 10px;
    font-size: 0.85rem;
}
.tip p {
    margin-bottom: 0;
}

.hideScrollBar {
    overflow-y: scroll; 

}
.hideScrollBar::-webkit-scrollbar { 
    display: none; 
} 
.favoritesContainer {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.filmItem {
    padding: 2px 8px 2px 8px;
    width: max-content;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
.filmItem:hover {
    cursor: pointer;
}
@media (max-width: 500px) {
    .modalButtons {
        word-wrap: normal;
        padding: 0.7rem 1rem;
        font-size: 0.8rem;
        text-align: center;
    }
}
