.btnAddFilm {
    /* float: right; */
    right: 0;
    font-size: 0.8rem !important;
}
.btnAddFilm:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.controls {
    width: 100%;
    padding: 15px 15px 15px 15px;
    width: auto;
    height: auto;
    display: block;
}